@model  IEnumerable<AuroraProject.Core.Models.SpecificIndustry>
@{
    ViewBag.Title = "Pro-SpecificIndustries";
}

<div class="container-fluid register-b">

    <h6 class="navigator-h6-b">@Html.ActionLink("Aurora", "Index", "Home") > @Html.ActionLink("Pro-Industries", "AuroraProIndustries", "Industry") > <a href="" onClick="window.location.reload();">Pro-SpecificIndustries</a></h6>

    <div class="page-decoration-b container">
        <h1 class="page-heading-b">Industries</h1>
        <p class="page-descreption-b">Custom Text to describe a Specific Industry with one catchy phrase</p>
    </div>

    <div class="row row-home-industry  col-sm-12">
        @foreach (var specificIndustry in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-2">
                <div class="hovereffect home-industry-div">
                    <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                    <div class="overlay">
                        <h2>@specificIndustry.Name</h2>
                        @Html.ActionLink("Link", "AuroraPro", "Auction", new { specificIndustryID = specificIndustry.ID }, new { @class = "info" })
                    </div>
                </div>
            </div>
        }
    </div>

</div>