@{ 
    Layout = "~/Views/Shared/_altLayout.cshtml";
}
<div class="container-fluid home-container-fluid">

    <div class="tab-content" id="myTabContent">
        <div class="home-container tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="arrow arrow-toIndustry">
                <a class="nav-link" id="industry-tab" data-toggle="tab" href="#industry" role="tab" aria-controls="industry" aria-selected="false"><span></span><span></span><span></span></a>
            </div>

            <div class="home-img">

                @if (Request.IsAuthenticated)
                {
                    <ul class="nav home-nav">
                        <li>
                            <a class="nav-link hello-user position-relative float-right" role="button" href="@Url.Action("Details", "Influencer")">
                                <span class="text-white">@{Html.RenderAction("UserFullName", "Account");}</span>
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav home-nav">
                        <li>
                            <a href="@Url.Action("Login", "Account")">Login<span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register", "Account")">Register</a>
                        </li>
                    </ul>
                }

                <a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/Logo/aurora_logoFINAL-05.png" class="home-logo img-fluid" /></a>

                <section class="wrapper-text">
                    <h2 class="sentence">
                        <span>
                            Powerful But Simple Way to Promote Your
                            <span class="slidingVertical">
                                <span>Company</span>
                                <span>People</span>
                                <span>Creativity</span>
                                <span>Passion</span>
                                <span>Vision</span>
                            </span>
                        </span>
                    </h2>
                </section>
            </div>
        </div>

        <div class="industry-container tab-pane fade show" id="industry" role="tabpanel" aria-labelledby="industry-tab">
            <div class="arrow arrow-toHome position-fixed">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><span></span><span></span><span></span></a>
            </div>

            <div class="container-fluid container-services">
                <div id="services">

                    <h1 class="home2-h1">Our Services</h1>

                    <div class="row row-services">
                        <div class="col-md-3 text-center col-md-home2">

                            <div class="icon-home2">
                                <i class="fa fa-desktop"></i>
                            </div>
                            <h3>Social Media Marketing Services</h3>
                            <p> Aurora's social media management and advertising services remove the complexity of social media for business owners and let you stick to what you know best—running your business!</p>
                        </div>
                        <div class="col-md-3 text-center col-md-home2">

                            <div class="icon-home2">
                                <i class="fa fa-tablet"></i>
                            </div>
                            <h3>Build & Manage Your Community</h3>
                            <p>Aurora gives you the opportunity to work with an unlimited number of small influencers with targeted groups. This is our advantage. Activate your existing customers & fans and work with the pool of Aurora ambassadors to drive sales and genuine user generated content. </p>
                        </div>

                        <div class="col-md-3 text-center col-md-home2">

                            <div class="icon-home2">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <h3>Generate Buzz Around Your Brand</h3>
                            <p>Aurora will help small influencers to be heard and to set up marketing missions for their ambassadors & to generate content that can be used again and again, drive revenue with tracking codes and discounts, and increase engagement on their social channels. </p>
                        </div>

                        <div class="col-md-3 text-center col-md-home2">

                            <div class="icon-home2">
                                <i class="fa fa-paint-brush"></i>
                            </div>
                            <h3>Harness The Power Of Your Top Fans</h3>
                            <p>Ambassador marketing sits between influencer marketing and affiliate marketing as a powerful word of mouth marketing channel. It’s not a case of one or the other, they work well together, but many brands are overlooking this huge opportunity.
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            MouseCaptureController.initial();
        });           
    </script>
}